.top-nav {
    position: fixed;
    height: 60px;
    top: 0;
    left: 0;
    width: calc(~'100% - 370px');
    background-color: rgb(0, 0, 0);
    z-index: 1000;
    opacity: 0.85;
    white-space: nowrap;
  }