<div>
  <%= pizza.title %> (<%= size %>)
  <div>Ціна: <%= pizza[size].price %> грн.</div>
  <div>
    <button class="btn-minus">-</button>
    <span class="order-counter"><%= quantity %></span>
    <button class="btn-plus">+</button>
  </div>
</div>
